* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;

}

.mainNav {
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0164C3;
    color: white;
    letter-spacing: 1px;
    font-size: 13px;
    position: fixed;


}

.Nav {
    width: 95%;
    height: 85px;
    display: flex;
    align-items: center;


}

.sub {
    height: 70px;
    display: flex;
    align-items: center;
    width: 100%;

}

.logo {
    width: 60px;
}

.img1 {
    width: 100%;
}

.div1 {
    display: flex;
    margin-left: 40px;
    width: 40%;
    justify-content: space-between;

}

.div1 div {
    font-weight: bold;
}

.box1 {
    width: 52%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 20px;


}

.box2 {
    border: 2px solid white;
    width: 30%;
    height: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;

}

.content1 {
    width: 100%;
    height: 85vh;
    background-image: url("./assets/images/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

}

.box3 {
    width: 100%;
    display: flex;
    /* height: 100vh; */
    margin: 0 auto;

}

.box4 {
    width: 50%;
    margin-top: 180px;


}

.box5 {
    /* height: 80vh; */
    width: 35%;
    margin-top: 150px;


}

.img2 {
    width: 120%;
    background-size: cover;
    height: 70vh;
    /* padding-left: 0 20px 0 0; */

}

.img3 {
    width: 100%;
}

.box6 {
    border: 2px solid white;
    width: 150px;
    border-radius: 20px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    color: white;
    font-weight: bold;

}

.box7 {
    font-size: 10px;
    width: 90%;
    text-align: center;
    color: white;
    margin: 50px auto;
    letter-spacing: 1px;
}


.box8 {
    width: 100%;
    display: flex;
    height: 100vh;
    margin: 0 auto;

}

.box9 {
    width: 50%;
    /* margin-top: 10px; */
    border: 1px solid white;


}

.box10 {
    height: 80vh;
    width: 100%;
    margin-top: 100px;


}

.img4 {
    width: 60%;
    border: 1px solid white;
    /* height: 100vh; */


}

.img {
    width: 100%;
}

.box11 {
    border: 2px solid white;
    width: 150px;
    border-radius: 20px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    color: white;
    font-weight: bold;

}

.box12 {
    font-size: 10px;
    width: 90%;
    text-align: center;
    color: white;
    margin: 50px auto;
    letter-spacing: 1px;
}

.content2 {
    width: 100%;
    height: 100vh;
    /* overflow: hidden; */
    background-color: black;
}

.content3 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.box13 {
    width: 35%;
    height: 100vh;
    background-color: #255CC4;



}

.box14 {
    width: 65%;
    /* height: auto; */
    background-image: url("./assets/images/PEP_BWP_D.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.box15 {
    width: 90%;
    height: 40vh;
    margin: 50px auto;
    background-color: #1437BF;

}

.img6 {
    width: 100%;
    height: 33vh;
}

.txt1 {
    color: white;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    letter-spacing: 1px;
}

.content5 {
    /* border: 1px solid black; */
    height: 70vh;
    width: 100%;
    background-image: url("Assets/images/Desktop_Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.box16 {
    width: 30%;
    /* height: auto; */
    /* border: 1px solid black; */
    height: 60vh;



}

.img7 {
    /* border: 1px solid black; */
    width: 100%;

}

.box17 {
    width: 35%;
    /* border: 1px solid black; */
    height: 60vh;
    color: white;
    padding: 40px;

}

.img8 {
    width: 100%;
    margin: 100px 0 0 0;
}

.content6 {

    border: 1px solid black;
    width: 100%;
    height: 75vh;
    background-image: url("Assets/images/mango-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: baseline;
    align-items: end;
    position: relative;
}

.img9 {
    background-image: url("Assets/images/bg-2-desktop@2x.png");
    width: 100%;
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
}

.box18 {
    /* border: 1px solid black; */
    width: 30%;
    height: 40vh;
    position: absolute;
    top: 0;
    left: 40px;




}

.box19 {
    /* border: 1px solid black; */
    width: 30%;
    height: 5vh;
    position: absolute;
    bottom: 0;
    left: 40px;

}

.img10 {
    width: 100%;
    margin-top: 60px;
}

.img11 {
    width: 100%;
}

.box20 {
    /* border: 1px solid black; */
    width: 60%;
    height: 75vh;
    position: absolute;
    bottom: 0;
    right: 0;
}

.img12 {
    width: 100%;
    height: 75vh;
    /* border: 1px solid black; */
}

.videoSec {
    width: 100%;
}

.video {
    width: 100%;
}

.content7 {
    /* border: 1px solid black; */
    width: 100%;
    height: 70vh;
    display: flex;
    background-image: url("Assets/images/twil-bg-mb.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    align-items: end;
}

.box21 {
    /* border: 1px solid black; */

    width: 60%;
    height: 60vh;
}

.box22 {
    /* border: 1px solid black; */

    width: 40%;
    height: 50vh;

}

.img13 {
    width: 90%;
    height: 60vh;
}

.img14 {
    width: 80%;
    margin-left: 10px;

}

.content8 {
    width: 100%;
    height: 60vh;
    background-image: url("Assets/images/04_Generation_BG_D_2\ \(1\).png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.box23 {
    width: 50%;
    /* border: 1px solid black; */
    height: 60vh;


    padding: 100px 0 10px 120px;
}

.fav {
    font-size: 55px;
    color: white;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 55px;
}


.box24 {
    height: 60vh;

    width: 50%;
    display: flex;
    align-items: center;
}

.fav1 {
    color: white;
    padding: 20px 100px 10px 0;
    font-size: 15px;
    font-weight: lighter;
    line-height: 20px;
}

.box25 {
    border: 2px solid white;
    width: 180px;
    border-radius: 20px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
    color: white;
    font-weight: bold;
}

.img15 {
    width: 85%;
}

.box26 {
    display: flex;
    justify-content: center;

}

.bv {
    width: 270px;
    height: 25vh;
    position: relative;
}

.img16 {
    width: 100%;
    height: 25vh;
}

.content9 {
    width: 100%;
    height: 34vh;
    /* border: 1px solid black; */
}

.hii {
    color: #0065C3;
    margin: 10px auto;
    text-align: center;
    font-size: 50px;
}

.img17 {

    width: 25px;
    height: 25px;
    position: absolute;
    bottom: 0;

}

.foot {
    width: 100%;
    height: 30vh;
    background-color: #0065C3;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-size: small;
    font-weight: bold;
    line-height: 20px;
}

.foot div {
    /* border: 1px solid black; */
}

.logoo {
    width: 150px;

}

.fo1 {
    width: 150px;

}

.fo2 {
    width: 200px;
}

.qq {
    width: 25px;
    height: 25px;
    margin: 0 10px;
}